In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [62]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) ==6).all()

In [63]:
#  3. Convert the June temperatures to a list.
june_temps = list((june))

In [65]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps, columns=['date', 'June temps'])
june_df.set_index(june_df['date'], inplace=True)

#june_df = pd.DataFrame(june_temps, columns=['date','June precipitation', 'June temps'])
#june_df.set_index(june_df['date'], inplace=True)

In [66]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [75]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==12).all()

#december = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
    #filter(extract('month', Measurement.date) ==6).all()

In [76]:
# 7. Convert the December temperatures to a list.
dec_temp = list((december))

In [77]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp,columns=['date','December Temps'])
dec_df.set_index(dec_df['date'], inplace=True)

#dec_df = pd.DataFrame(dec_temp,columns=['date','December precipitation', 'December Temps'])
#dec_df.set_index(dec_df['date'], inplace=True)

In [78]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

## D3: Determine the Precipitation for June and December

In [79]:
june_prcp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
    filter(extract('month', Measurement.date) ==6).all()

In [80]:
june_prcp_temps = list((june_prcp))

In [81]:
june_prcp_df = pd.DataFrame(june_prcp_temps, columns=['date','June precipitation', 'June temps'])
june_prcp_df.set_index(june_prcp_df['date'], inplace=True)

In [82]:
june_prcp_df.describe()

       June precipitation   June temps
count         1574.000000  1700.000000
mean             0.136360    74.944118
std              0.335731     3.257417
min              0.000000    64.000000
25%              0.000000    73.000000
50%              0.020000    75.000000
75%              0.120000    77.000000
max              4.430000    85.000000

In [87]:
december_prcp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
    filter(extract('month', Measurement.date) ==12).all()

In [88]:
dec_prcp_temps = list((december_prcp))

In [89]:
dec_prcp_df = pd.DataFrame(dec_prcp_temps,columns=['date','December precipitation', 'December Temps'])
dec_prcp_df.set_index(dec_prcp_df['date'], inplace=True)

In [90]:
dec_prcp_df.describe()

       December precipitation  December Temps
count             1405.000000     1517.000000
mean                 0.216819       71.041529
std                  0.541399        3.745920
min                  0.000000       56.000000
25%                  0.000000       69.000000
50%                  0.030000       71.000000
75%                  0.150000       74.000000
max                  6.420000       83.000000